In [2]:
import numpy as np
import pandas as pd
import os
os.getcwd()

'C:\\Users\\User.109424-DOCENT-P\\Documents\\MinTIC\\Final Project\\ds4_project\\Final Data'

In [38]:
hipotesis=pd.read_excel('hipotesis.xlsx')
datos=pd.read_excel('datos_joined_UTF8.xlsx')

In [ ]:
hipotesis

In [22]:
hipotesis_filtrado=hipotesis.drop(hipotesis[(hipotesis['AÑO ACCIDENTE']==2019) & (hipotesis['MES ACCIDENTE']>7)].index )

In [23]:

#hipotesis_filtrado=hipotesis[(hipotesis['AÑO ACCIDENTE']<=2019)]# & (hipotesis['MES ACCIDENTE']<=7)]
hipotesis_filtrado.loc[:,'DESC CLASE']=hipotesis_filtrado['DESC CLASE'].fillna('NO REGISTRA')

In [24]:
hipotesis_filtrado.loc[:,'MOTOCICLETA']=0
hipotesis_filtrado.loc[:,'AUTOMOVIL']=0
hipotesis_filtrado.loc[:,'CAMIONETA']=0
hipotesis_filtrado.loc[:,'BUS']=0
hipotesis_filtrado.loc[:,'CAMION']=0
hipotesis_filtrado.loc[:,'CAMPERO']=0
hipotesis_filtrado.loc[:,'BUSETA']=0
hipotesis_filtrado.loc[:,'BICICLETA']=0
hipotesis_filtrado.loc[:,'MICROBUS']=0
hipotesis_filtrado.loc[:,'TRACTO/CAMION']=0
hipotesis_filtrado.loc[:,'VOLQUETA']=0
hipotesis_filtrado.loc[:,'MOTOCARRO']=0
hipotesis_filtrado.loc[:,'DESCONOCIDA']=0
hipotesis_filtrado.loc[:,'CUATRIMOTO']=0
hipotesis_filtrado.loc[:,'MAQUINARIA AGRICOLA']=0
hipotesis_filtrado.loc[:,'TRACCION ANIMAL']=0
hipotesis_filtrado.loc[:,'MAQUINARIA INDUSTRIAL']=0
hipotesis_filtrado.loc[:,'CAMION (RNMA)']=0
hipotesis_filtrado.loc[:,'DUMPER VOLQUETAARTICULADA']=0
hipotesis_filtrado.loc[:,'REMOLQUE']=0
hipotesis_filtrado.loc[:,'SEMIREMOLQUE']=0
hipotesis_filtrado.loc[:,'RETROEXCAVADORA']=0
hipotesis_filtrado.loc[:,'MONTACARGAS']=0
hipotesis_filtrado.loc[:,'BUS ARTICULADO']=0
hipotesis_filtrado.loc[:,'MINICARGADOR']=0
hipotesis_filtrado.loc[:,'MINI EXCAVADORA']=0
hipotesis_filtrado.loc[:,'NO REGISTRA']=0

In [25]:
hipotesis_agrupado=hipotesis_filtrado.groupby('ID')
hipotesis_auxiliar=pd.DataFrame().reindex_like(hipotesis_filtrado).dropna()

In [26]:
for grupo in hipotesis_agrupado:
    aux=grupo[1].copy()
    unico=aux['DESC CLASE'].unique()
    for vehiculo in unico:
        conteo=len(aux[aux['DESC CLASE']==vehiculo])
        aux.loc[:,vehiculo]=conteo
    hipotesis_auxiliar=hipotesis_auxiliar.append(aux)

C:\Users\User.109424-DOCENT-P\Documents\DS4A\lib\site-packages\pandas\core\frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

In [27]:
hipotesis_auxiliar.reset_index(drop=True).to_csv('hipotesis_transformadas1.csv')

In [29]:
hipotesis_auxiliar.columns

Index(['AUTOMOVIL', 'AÑO ACCIDENTE', 'BICICLETA', 'BUS', 'BUS ARTICULADO',
       'BUSETA', 'CAMION', 'CAMION (RNMA)', 'CAMIONETA', 'CAMPERO',
       'CARRETILLA ELEVADORA', 'CICLO TAXI', 'CLASE ACCIDENTE', 'CUATRIMOTO',
       'DESC CLASE', 'DESCONOCIDA', 'DIA ACCIDENTE',
       'DUMPER VOLQUETAARTICULADA', 'HORA ACCIDENTE', 'ID',
       'MAQUINARIA AGRICOLA', 'MAQUINARIA INDUSTRIAL', 'MES ACCIDENTE',
       'MICROBUS', 'MINI EXCAVADORA', 'MINICARGADOR', 'MONTACARGAS',
       'MOTOCARRO', 'MOTOCICLETA', 'MOTOTRICICLO', 'NO REGISTRA', 'REMOLQUE',
       'RETROEXCAVADORA', 'SEMIREMOLQUE', 'TRACCION ANIMAL', 'TRACTO/CAMION',
       'VOLQUETA', 'direccion', 'hipotesis'],
      dtype='object')

# Ya en lo anterior se hizo la creación y valores de las nuevas variables.
### Ahora vamos a fucionar las filas.

In [32]:
hipotesis_transformadas=pd.read_csv('hipotesis_transformadas1.csv')
hipotesis_transformadas=hipotesis_transformadas.iloc[:,1:]

In [33]:
hipotesis_transformadas.head()

,AUTOMOVIL,AÑO ACCIDENTE,BICICLETA,BUS,BUS ARTICULADO,BUSETA,CAMION,CAMION (RNMA),CAMIONETA,CAMPERO,...,MOTOTRICICLO,NO REGISTRA,REMOLQUE,RETROEXCAVADORA,SEMIREMOLQUE,TRACCION ANIMAL,TRACTO/CAMION,VOLQUETA,direccion,hipotesis
0,2.0,2016.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CR 46 CL 54,Otra
1,2.0,2016.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CR 46 CL 54,Otra
2,2.0,2016.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CR 24 CL 57,Semaforo en rojo
3,2.0,2016.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CR 24 CL 57,Semaforo en rojo
4,2.0,2016.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CR 29 CL 63,Desobedecer se¤ales

In [34]:
agrupado=hipotesis_transformadas.groupby('ID')
#print(hipotesis_transformadas.sort_values(by='ID').loc[0])
#print(hipotesis_transformadas.sort_values(by='ID').loc[1])

In [35]:
lista_auxiliar=pd.DataFrame().reindex_like(hipotesis_transformadas).dropna()
for i in agrupado:
    aux=i[1]
    lista_auxiliar=lista_auxiliar.append([aux.iloc[0,:]])

In [36]:
lista_auxiliar.to_csv('hipotesis_transformadas.csv')

In [39]:
# print(datos.columns)
# print(lista_auxiliar.columns)
final=pd.merge(left=datos,right=lista_auxiliar,how='inner', on='ID')

In [42]:
final.to_csv("final.csv")